[submodule "openvm/openvm-benchmark"]
	path = openvm/openvm-benchmark
	url = https://github.com/brevis-network/openvm-reth-benchmark.git
	branch = zkvm-bench
[submodule "sp1/zkvm-perf"]
	path = sp1/zkvm-perf
	url = https://github.com/brevis-network/zkvm-perf.git
	branch = sync-test
[submodule "risc0/zkvm-perf"]
	path = risc0/zkvm-perf
	url = https://github.com/brevis-network/zkvm-perf.git
	branch = risc0-bench
